.side-bar {
    width: 240px;
    transition: transform ease-in-out 0.5s, width 0.1s;
    flex-direction: column;
    height: 100%;
}

.hidden {
    transform: translate(-240px);
    width: 0;
}