.side-bar {
    visibility: visible;
    width: 180px;
    flex-direction: column;
    height: 100%;
    border-right: 0.06rem solid #e7eaec;
}

.side-bar-header {
    height: 60px;
    padding: 20px;
    font-size: 1.2rem;
    margin: auto;
    font-weight: bold;
    border-bottom: 0.06rem solid #e7eaec;
}

.hidden {
    visibility: hidden;
    width: 0;
}

.category {
    padding: 20px;
}

.category-item-wrapper {
    margin: 10px;
}

.category-item {
    all: unset;
    cursor: pointer;
}

.selected-item {
    font-weight: 600;
}

.toggle-button {
    position: fixed;
    top: 10px;
    left: 150px;
}

.toggle-hidden {
    transform: translate(-230px);
}