.side-bar {
    visibility: visible;
    width: 240px;
    flex-direction: column;
    height: 100%;
}

.hidden {
    visibility: hidden;
    width: 0;
}

.toggle-button {
    position: fixed;
    top: 10px;
    left: 240px;
}

.toggle-hidden {
    transform: translate(-230px);
}